.questions_container {
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #40a2d8;

  h3 {
    text-align: center;
    background-color: #f0edcf;
    border-radius: 15px;
    padding: 15px;
  }

  .progressBar {
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 10px;

    h4 {
      margin: 0;
      padding: 5px;
      text-align: center;
      font-weight: 400;
      color: white;
      font-size: 14px;
    }
  }

  .answers_container {
    display: flex;

    ul {
      list-style: none;
      width: 50%;
      padding: 10px;

      .correct_answer {
        background-color: #24b624;
      }

      .wrong_answer {
        background-color: red;
      }

      li {
        background-color: #f0edcf;
        border-radius: 15px;
        padding: 5px;
        margin-bottom: 15px;
        border: 2px solid transparent;

        strong {
          padding: 5px;
        }

        &:hover {
          border: 2px solid black;
        }
      }
    }
  }

  .questions_buttons {
    display: flex;
    justify-content: space-between;

    button {
      padding: 10px 15px;
      background-color: var(--primary-color);
      border-radius: 15px;
      border: 2px solid var(--primary-color);
      color: white;
      width: 45%;

      &:hover {
        border: 2px solid black;
      }

      &:active {
        background-color: #0d4477;
        border: 2px solid black;
      }
    }
  }
}
