#root {
  margin: 0;
  padding: 0;
  width: 100vw;
}

* {
  box-sizing: border-box;
  user-select: none;
}
body {
  background-attachment: fixed;
  background-image: linear-gradient(#484848e5, #484848e5), url(assets/back.jpeg);
}
h1 {
  text-transform: uppercase;
  color: var(--third-color);
  text-shadow: var(--primary-color) 2px 2px 6px;
  font-size: 3em;
  font-family: "Sixtyfour", sans-serif;
}
.app {
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  border: 1px solid var(--dark-border-color);
  border-radius: 20px;
  padding: 40px;
  background-color: var(--secondary-color);
  box-shadow: 0 10px 20px #000;
  transition: all 0.2s;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .reset-small {
    font-size: 0;
  }
  .reset-big {
    font-size: 1em;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .reset-small {
    font-size: 0;
  }
  .reset-big {
    font-size: 1em;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .reset-small {
    font-size: 0;
  }
  .reset-big {
    font-size: 1em;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .app {
    margin: 0px;
  }
  .reset-small {
    font-size: 0;
  }
  .reset-big {
    font-size: 1em;
  }
}
@media screen and (max-width: 575px) {
  .app {
    margin: 0px;
    padding: 20px 5px 5px 5px;
  }
  .reset-small {
    margin: 30px;
    font-size: 2em;
  }
  .reset-big {
    font-size: 0;
  }
}
.user {
  display: flex;
  flex-direction: row;
  margin-right: 0;
  margin-left: auto;
  align-content: space-between;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  border: 1px solid var(--dark-border-color);
  border-radius: 10px;
  padding: 10px 15px 10px 10px;
  background-color: var(--primary-color);
  box-shadow: var(--block-shadow-small);
  .userimage {
    width: 40px;
    width: 40px;
    border-radius: 7px;
    box-shadow: var(--block-shadow-small);
    background-color: var(--third-color);
    aspect-ratio: 1 / 1;
    padding: 2px;
  }
  p {
    margin: 10px;
    font-size: 1.5rem;
    color: var(--third-color);
    text-shadow: 1px 1px 2px var(--primary-color);
  }
}

input {
  margin: 10px;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid var(--dark-border-color);
  background-color: var(--third-color);
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1rem;
  box-shadow: var(--primary-color) 0px 1px 5px;
}
label {
  color: var(--third-color);
  font-weight: 600;
  text-shadow: var(--primary-color) 1px 1px 1px;
}

select {
  text-shadow: var(--secondary-color) 0.5px 0.5px 1.2px;
  background-color: var(--third-color);
  color: var(--primary-color);
  text-transform: uppercase;
  border: thin solid var(--dark-border-color);
  border-radius: 7px;
  display: inline-block;
  font: inherit;
  line-height: 1em;
  padding: 0.7em 3.5em 0.7em 1em;
  font-weight: 600;
  margin: 0 0 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* arrows */

select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image: linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
