:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #0b60b0;
  --secondary-color: #40a2d8;
  --third-color: #f0edcf;
  --dark-border-color: #0970a7;
  --light-border-color: #c1be9e;
  --block-shadow: 0 10px 20px #000;
  --block-shadow-small: 0 0 5px #000;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
}

canvas {
  display: block;
}
